.text-center  {
    text-align: center;
}

.bg-red  {
    background: red;
}

.max  {
    margin: auto;
}

.flex  {
    display: flex;

}

.flex-box {
    flex-direction: column;
}

.item-center  {
align-items: center;
}
.button  {
    padding:15px;
    margin:0 4px;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 12px;
}
.button:hover {
    color: blue;
}

.row  {
    margin:6px 0;
}

.row input  {
        padding: 19px 34px;
        margin: 10px;
        border: 4px solid black;
        border-radius: 10px
}